<html><head>
<meta http-equiv="content-type" content="text/html; charset=gbk"><title>Maintenance Notice</title></head>
<body bgcolor="white" background="/static/bg.jpg">
<center><h1>Database Maintenance Notice</h1></center>
<hr><h3>Database Maintenance Scheduled For TODAY (20%)</h3></hr>
<p>Please be advised that we will be performing database maintenance today.</p>
<p>PPS Push Web Service will be unavailable during this time. </p>
<p>We appreciate your patience, and apologize for any inconvenience this may cause.</p>
</body></html>